.footer {
  margin: auto;
  padding-top: 7.3%;
  padding-bottom: 1.9%;
}
.footer__copyright {
  font-size: 14px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 11.8%;
    padding-bottom: 3.3%;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding-top: 21.3%;
    padding-bottom: 8%;
  }
}
